# Bot Configuration
BOT_TOKEN=8841579481:AAFTLiwQLBP1g6uduiHotsKAUItDeYFfXYI

# YooKassa Payment
YOOKASSA_SHOP_ID=ваш_shop_id
YOOKASSA_SECRET_KEY=ваш_secret_key

# Database
DATABASE_URL=sqlite:///data/piano_club.db
AGE_DB_PATH=data/piano_age.db

# Telegram Channels - добавьте ссылки
CHANNEL_URL=https://t.me/+uliQL4b7FPM0MGRi
CHAT_URL=https://t.me/+ZkHOohtAqk05ZGVi
CHANNEL_ID=-1003449080898
CHAT_ID=-1004487185959

# Subscription Settings
SUBSCRIPTION_PRICE=999
SUBSCRIPTION_DAYS=30

# Admin IDs
ADMIN_IDS=589325785

# Whitelist Default Role
DEFAULT_WHITELIST_ROLE=vip